<div class="bg-white m-1">
  <div class="group rounded-lg border">
    <a href="#" class="w overflow-hidden rounded-t-lg bg-gray-200">
        <img [src]="product.img" [alt]="product.title" class=" object-cover object-center group-hover:opacity-75">
    </a>
    <div class="flex flex-col space-y-2 p-4">
        <h3 class="text-sm text-gray-700">{{ product.name }}</h3>
        <p class="text-lg font-medium text-gray-900">{{product.price}}</p>
        <button class="btn btn text-black bg-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 w-full"
            (click)="addToCardHandler()">Add to cart</button>
    </div>
  </div>
</div>

