<h1>list works!</h1>
<h1 class="text-3xl font-bold underline">
  Hello world!
</h1>
<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">Customers also purchased</h2>

    <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
      <div class="group relative">
        <img src="https://tailwindcss.com/plus-assets/img/ecommerce-images/product-page-01-related-product-01.jpg" alt="Front of men&#039;s Basic Tee in black." class="aspect-square w-full rounded-md bg-gray-200 object-cover group-hover:opacity-75 lg:aspect-auto lg:h-80">
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Basic Tee
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">Black</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$35</p>
        </div>
      </div>
      <div class="group relative">
        <div class="relative">
          <img
            src="https://tailwindcss.com/plus-assets/img/ecommerce-images/product-page-01-related-product-01.jpg"
            alt="Front of men&#039;s Basic Tee in black."
            class="aspect-square w-full rounded-md bg-gray-200 object-cover lg:aspect-auto lg:h-80 transition-transform duration-300 group-hover:rotate-6 group-hover:scale-110"
          />
          <div class="absolute inset-0 bg-black opacity-0 transition-opacity duration-300 group-hover:opacity-10"></div>
        </div>
        <div class="mt-4 flex justify-between">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Basic Tee
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">Black</p>
          </div>
          <p class="text-sm font-medium text-gray-900">$35</p>
        </div>
      </div>
      <!-- More products... -->
      <img class="rotate-x-50 rotate-z-45 ..." src="https://tailwindcss.com/plus-assets/img/ecommerce-images/product-page-01-related-product-01.jpg" />
      <img class="rotate-x-15 -rotate-y-30 ..." src="https://tailwindcss.com/plus-assets/img/ecommerce-images/product-page-01-related-product-01.jpg" />
      <img class="rotate-y-25 rotate-z-30 ..." src="https://tailwindcss.com/plus-assets/img/ecommerce-images/product-page-01-related-product-01.jpg" />
    </div>
    <div class="perspective-remote">
      <div class="size-20 perspective-near perspective-origin-top-left ...">
        <div class="translate-z-12 rotate-x-0 bg-sky-300/75 ...">1</div>
        <div class="-translate-z-12 rotate-y-18 bg-sky-300/75 ...">2</div>
        <div class="translate-x-12 rotate-y-90 bg-sky-300/75 ...">3</div>
        <div class="-translate-x-12 -rotate-y-90 bg-sky-300/75 ...">4</div>
        <div class="-translate-y-12 rotate-x-90 bg-sky-300/75 ...">5</div>
        <div class="translate-y-12 -rotate-x-90 bg-sky-300/75 ...">6</div>
      </div>
      <div class="size-20 perspective-near perspective-origin-bottom-right …">
        <div class="translate-z-12 rotate-x-0 bg-sky-300/75 ...">1</div>
        <div class="-translate-z-12 rotate-y-18 bg-sky-300/75 ...">2</div>
        <div class="translate-x-12 rotate-y-90 bg-sky-300/75 ...">3</div>
        <div class="-translate-x-12 -rotate-y-90 bg-sky-300/75 ...">4</div>
        <div class="-translate-y-12 rotate-x-90 bg-sky-300/75 ...">5</div>
        <div class="translate-y-12 -rotate-x-90 bg-sky-300/75 ...">6</div>
      </div>
    </div>

  </div>
</div>
